.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  color: var(--textColor);
  text-decoration: none;
}

.links {
  display: flex;
  gap: 32px;
  list-style: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  min-width: 200px;
  height: 50px;
  background: var(--secondary);
  border-radius: 6px;
  padding: 0 16px;
}
