.header {
  position: relative;
  height: 450px;
  width: 100%;
  background: var(--secondary);
}

.image {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  color: white;
  max-width: 720px;
  left: 32px;
  bottom: 32px;
}

.title {
  font-size: 32px;
}
