.post {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
